* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #eafbc8;
}

h3 {
  text-align: center;
}
main {
  padding: 10px;
  text-align: center;
}
#title {
  margin: 30px 10px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.producto {
  background-color: #d8f799;
  border: 1px;
  border-color: black;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.editar {
  display: flex;
  flex-direction: column;
}
.editar button {
  background-color: #a9f799;
}

.bg-verde {
  background-color: #a9f799;
}

#contenedorCarrito {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#listaCarrito {
  width: 600px;
  margin: 15px;
  border: 1px solid;
  border-collapse: collapse;
}
#listaCarrito td,
#listaCarrito th {
  border: 1px solid;
  padding: 10px;
  text-align: center;
}

.navbar {
  text-align: center;
  justify-content: end;
  margin: 8px;
  padding: 3px 3px;
}

.navbar li {
  list-style: none;
}

.navbar li:hover {
  background-color: #d8f799;
  color: black;
  border-radius: 3px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 20px;
  min-width: 250px;
  max-width: 600px;
  background-color: #d8f799;
  margin: 10px auto;
}
#btnBorrar .btn {
  background-color: #f7e799;
}

.category {
  text-decoration: underline;
  font-weight: bold;
}
