* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: cursive;
  background-color: #d8f799;
}
#title {
  margin: 5px;
  padding: 10px;
  text-align: center;
  font: bolder;
}

#category {
  flex-direction: row;
  text-align: center;
}

.card-body {
  text-align: center;
  border: 0.5px;
  border-radius: 2px;
}
