* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d8f799;
}
#title {
  margin: 2px;
  padding: 2px;
  text-align: center;
  font: bolder;
}

#category {
  border-radius: 2px;
}
